body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}

.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
.card img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: grey;
  text-align: center;
  border: 3px  solid white;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}


form {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 3px  solid white;
  background: white;
  border-radius: 0px 0px 10px 10px; 
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid black;

}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: grey;
  border: none;
  border-radius: 5px;
}

.my-button {
    display: inline-block;
    margin: 5px; /* space between buttons */
    background: white; /* background color */
    color: black; /* text color */
    font-size: 1.7em;
    font-family: ‘Georgia’, serif;
    font-style: bold;
    border-radius: 15px; /* rounded corners */
    margin-left: 120px;
    margin-top: 20px;
    padding: 12px 16px; /* space around text */
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.my-button:hover {
    background: gray;
    color: black;
}
/* Three columns side by side */
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px){.column {width: 100%;display: block;}}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
