/* Store this code in 'style.css' file inside the 'static' folder*/

			.header{
				padding: 5px 120px;
				width: 150px;
				height: 70px;
				background-color: black;
			}
		
			.border{
				padding: 80px 50px;
				width: 400px;
				height: 450px;
				border: 1px solid #020e14;
				border-radius: 0px;
				background-color: black;
			}

			.btn {
				padding: 10px 40px;
				background-color: gray;
				color: white;
				font-style: oblique;
				font-weight: bold;
				border-radius: 10px;
			}

			.textbox{
				padding: 10px 40px;
				background-color: black;
				color: white;
				border-radius: 10px;
			}
				
			::placeholder {
				color: white;
				opacity: 1;
				font-style: oblique;
				font-weight: bold;
			}

			.word{
				color: white;
				font-style: oblique;
				font-weight: bold;
			}

			.bottom{
				color: white;
				font-style: oblique;
				font-weight: bold;
			}
